We will learn how to extract data from the web, manipulate and clean data using Python's Pandas library, and data visualize using Python's Matplotlib library.

## Import Modules:

In [119]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from urllib.request import urlopen
from bs4 import BeautifulSoup

## Load URL
specify the URL containing the dataset and pass it to urlopen() to get the html of the page.

In [120]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
html = urlopen(url)

## Create a Beautiful Soup object from the html
This is done by passing the html to the BeautifulSoup() function. The Beautiful Soup package is used to parse the html, that is, take the raw html text and break it into Python objects. The second argument 'lxml' is the html parser.

In [121]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

The soup object allows you to extract interesting information about the website you're scraping such as getting the title of the page as shown below.

In [122]:
title = soup.title
print(title)

<title> The top 100 bestselling books of all time: how does Fifty Shades of Grey compare? | News | theguardian.com </title>

You can use the find_all() method of soup to extract useful html tags within a webpage. Examples of useful tags include < a > for hyperlinks, < table > for tables, < tr > for table rows, < th > for table headers, and < td > for table cells.

In [123]:
soup.find_all("table")

[<table cellpadding="0" cellspacing="0" class="in-article sortable">
 <caption>
 <h2>Top 100 best selling books of all time</h2>
 <p>UK sales only. Click heading to sort table. <a href="#data">Download this data</a></p>
 </caption>
 <thead>
 <tr>
 <th class="left bold" id="table-cell-10943--1-0" scope="col" style="color: #000000">
 <div>
 Rank
 </div> </th>
 <th class="left bold" id="table-cell-10943--1-1" scope="col" style="color: #000000">
 <div>
 Title
 </div> </th>
 <th class="left bold" id="table-cell-10943--1-2" scope="col" style="color: #000000">
 <div>
 Author
 </div> </th>
 <th class="left bold" id="table-cell-10943--1-3" scope="col" style="color: #000000">
 <div>
 Volume Sales
 </div> </th>
 <th class="left bold" id="table-cell-10943--1-4" scope="col" style="color: #000000">
 <div>
 Publisher
 </div> </th>
 <th class="last left bold" id="table-cell-10943--1-5" scope="col" style="color: #000000">
 <div>
 Genre
 </div> </th>
 </tr>
 </thead>
 <tfoot>
 <tr>
 <td colspan="6">
 <div class="footer">
 <div class="notes">
 <p>SOURCE: <a href="//www.nielsenbookscan.co.uk/controller.php?page=48">NIELSEN BOOK SCAN</a></p>
 </div>
 </div> </td>
 </tr>
 </tfoot>
 <tbody>
 <tr>
 <td class="left" id="table-cell-10943-0-0" style="color: #000000"> 1 </td>
 <td class="left" id="table-cell-10943-0-1" style="color: #000000"> Da Vinci Code,The </td>
 <td class="left" id="table-cell-10943-0-2" style="color: #000000"> Brown, Dan </td>
 <td class="left" id="table-cell-10943-0-3" style="color: #000000"> 5,094,805 </td>
 <td class="left" id="table-cell-10943-0-4" style="color: #000000"> Transworld </td>
 <td class="last left" id="table-cell-10943-0-5" style="color: #000000"> Crime, Thriller &amp; Adventure </td>
 </tr>
 <tr class="odd">
 <td class="left" id="table-cell-10943-1-0" style="color: #000000"> 2 </td>
 <td class="left" id="table-cell-10943-1-1" style="color: #000000"> Harry Potter and the Deathly Hallows </td>
 <td class="left" id="table-cell-10943-1-2" style="color: #000000"> Rowling, J.K. </td>
 <td class="left" id="table-cell-10943-1-3" style="color: #000000"> 4,475,152 </td>
 <td class="left" id="table-cell-10943-1-4" style="color: #000000"> Bloomsbury </td>
 <td class="last left" id="table-cell-10943-1-5" style="color: #000000"> Children's Fiction </td>
 </tr>
 <tr>
 <td class="left" id="table-cell-10943-2-0" style="color: #000000"> 3 </td>
 <td class="left" id="table-cell-10943-2-1" style="color: #000000"> Harry Potter and the Philosopher's Stone </td>
 <td class="left" id="table-cell-10943-2-2" style="color: #000000"> Rowling, J.K. </td>
 <td class="left" id="table-cell-10943-2-3" style="color: #000000"> 4,200,654 </td>
 <td class="left" id="table-cell-10943-2-4" style="color: #000000"> Bloomsbury </td>
 <td class="last left" id="table-cell-10943-2-5" style="color: #000000"> Children's Fiction </td>
 </tr>
 <tr class="odd">
 <td class="left" id="table-cell-10943-3-0" style="color: #000000"> 4 </td>
 <td class="left" id="table-cell-10943-3-1" style="color: #000000"> Harry Potter and the Order of the Phoenix </td>
 <td class="left" id="table-cell-10943-3-2" style="color: #000000"> Rowling, J.K. </td>
 <td class="left" id="table-cell-10943-3-3" style="color: #000000"> 4,179,479 </td>
 <td class="left" id="table-cell-10943-3-4" style="color: #000000"> Bloomsbury </td>
 <td class="last left" id="table-cell-10943-3-5" style="color: #000000"> Children's Fiction </td>
 </tr>
 <tr>
 <td class="left" id="table-cell-10943-4-0" style="color: #000000"> 5 </td>
 <td class="left" id="table-cell-10943-4-1" style="color: #000000"> Fifty Shades of Grey </td>
 <td class="left" id="table-cell-10943-4-2" style="color: #000000"> James, E. L. </td>
 <td class="left" id="table-cell-10943-4-3" style="color: #000000"> 3,758,936 </td>
 <td class="left" id="table-cell-10943-4-4" style="color: #000000"> Random House </td>
 <td class="last left" id="table-cell-10943-4-5" style="color: #000000"> Romance &amp; Sagas </td>
 </tr>
 <tr class="odd">
 <td class="left" id="table-cell-10943-5-0" style="color: #000000"> 6 </td>
 <td class="left" id="table-cell-10943-5-1" style="color: #000000"> Harry Potter and the Goblet of Fire </td>
 <td class="left" id="table-cell-10943-5-2" style="color: #000000"> Rowling, J.K. </td>
 <td class="left" id="table-cell-10943-5-3" style="color: #000000"> 3,583,215 </td>
 <td class="left" id="table-cell-10943-5-4" style="color: #000000"> Bloomsbury </td>
 <td class="last left" id="table-cell-10943-5-5" style="color: #000000"> Children's Fiction </td>
 </tr>
 <tr>
 <td class="left" id="table-cell-10943-6-0" style="color: #000000"> 7 </td>
 <td class="left" id="table-cell-10943-6-1" style="color: #000000"> Harry Potter and the Chamber of Secrets </td>
 <td class="left" id="table-cell-10943-6-2" style="color: #000000"> Rowling, J.K. </td>
 <td class="left" id="table-cell-10943-6-3" style="color: #000000"> 3,484,047 </td>
 <td class="left" id="table-cell-10943-6-4" style="color: #000000"> Bloomsbury </td>
 <td class="last left" id="table-cell-10943-6-5" style="color: #000000"> Children's Fiction </td>
 </tr>
 <tr class="odd">
 <td class="left" id="table-cell-10943-7-0" style="color: #000000"> 8 </td>
 <td class="left" id="table-cell-10943-7-1" style="color: #000000"> Harry Potter and the Prisoner of Azkaban </td>
 <td class="left" id="table-cell-10943-7-2" style="color: #000000"> Rowling, J.K. </td>
 <td class="left" id="table-cell-10943-7-3" style="color: #000000"> 3,377,906 </td>
 <td class="left" id="table-cell-10943-7-4" style="color: #000000"> Bloomsbury </td>
 <td class="last left" id="table-cell-10943-7-5" style="color: #000000"> Children's Fiction </td>
 </tr>
 <tr>
 <td class="left" id="table-cell-10943-8-0" style="color: #000000"> 9 </td>
 <td class="left" id="table-cell-10943-8-1" style="color: #000000"> Angels and Demons </td>
 <td class="left" id="table-cell-10943-8-2" style="color: #000000"> Brown, Dan </td>
 <td class="left" id="table-cell-10943-8-3" style="color: #000000"> 3,193,946 </td>
 <td class="left" id="table-cell-10943-8-4" style="color: #000000"> Transworld </td>
 <td class="last left" id="table-cell-10943-8-5" style="color: #000000"> Crime, Thriller &amp; Adventure </td>
 </tr>
 <tr class="odd">
 <td class="left" id="table-cell-10943-9-0" style="color: #000000"> 10 </td>
 <td class="left" id="table-cell-10943-9-1" style="color: #000000"> Harry Potter and the Half-blood Prince:Children's Edition </td>
 <td class="left" id="table-cell-10943-9-2" style="color: #000000"> Rowling, J.K. </td>
 <td class="left" id="table-cell-10943-9-3" style="color: #000000"> 2,950,264 </td>
 <td class="left" id="table-cell-10943-9-4" style="color: #000000"> Bloomsbury </td>
 <td class="last left" id="table-cell-10943-9-5" style="color: #000000"> Children's Fiction </td>
 </tr>
 <tr>
 <td class="left" id="table-cell-10943-10-0" style="color: #000000"> 11 </td>
 <td class="left" id="table-cell-10943-10-1" style="color: #000000"> Fifty Shades Darker </td>
 <td class="left" id="table-cell-10943-10-2" style="color: #000000"> James, E. L. </td>
 <td class="left" id="table-cell-10943-10-3" style="color: #000000"> 2,479,784 </td>
 <td class="left" id="table-cell-10943-10-4" style="color: #000000"> Random House </td>
 <td class="last left" id="table-cell-10943-10-5" style="color: #000000"> Romance &amp; Sagas </td>
 </tr>
 <tr class="odd">
 <td class="left" id="table-cell-10943-11-0" style="color: #000000"> 12 </td>
 <td class="left" id="table-cell-10943-11-1" style="color: #000000"> Twilight </td>
 <td class="left" id="table-cell-10943-11-2" style="color: #000000"> Meyer, Stephenie </td>
 <td class="left" id="table-cell-10943-11-3" style="color: #000000"> 2,315,405 </td>
 <td class="left" id="table-cell-10943-11-4" style="color: #000000"> Little, Brown Book </td>
 <td class="last left" id="table-cell-10943-11-5" style="color: #000000"> Young Adult Fiction </td>
 </tr>
 <tr>
 <td class="left" id="table-cell-10943-12-0" style="color: #000000"> 13 </td>
 <td class="left" id="table-cell-10943-12-1" style="color: #000000"> Girl with the Dragon Tattoo,The:Millennium Trilogy </td>
 <td class="left" id="table-cell-10943-12-2" style="color: #000000"> Larsson, Stieg </td>
 <td class="left" id="table-cell-10943-12-3" style="color: #000000"> 2,233,570 </td>
 <td class="left" id="table-cell-10943-12-4" style="color: #000000"> Quercus </td>
 <td class="last left" id="table-cell-10943-12-5" style="color: #000000"> Crime, Thriller &amp; Adventure </td>
 </tr>
 <tr class="odd">
 <td class="left" id="table-cell-10943-13-0" style="color: #000000"> 14 </td>
 <td class="left" id="table-cell-10943-13-1" style="color: #000000"> Fifty Shades Freed </td>
 <td class="left" id="table-cell-10943-13-2" style="color: #000000"> James, E. L. </td>
 <td class="left" id="table-cell-10943-13-3" style="color: #000000"> 2,193,928 </td>
 <td class="left" id="table-cell-10943-13-4" style="color: #000000"> Random House </td>
 <td class="last left" id="table-cell-10943-13-5" style="color: #000000"> Romance &amp; Sagas </td>
 </tr>
 <tr>
 <td class="left" id="table-cell-10943-14-0" style="color: #000000"> 15 </td>
 <td class="left" id="table-cell-10943-14-1" style="color: #000000"> Lost Symbol,The </td>
 <td class="left" id="table-cell-10943-14-2" style="color: #000000"> Brown, Dan </td>
 <td class="left" id="table-cell-10943-14-3" style="color: #000000"> 2,183,031 </td>
 <td class="left" id="table-cell-10943-14-4" style="color: #000000"> Transworld </td>
 <td class="last left" id="table-cell-10943-14-5" style="color: #000000"> Crime, Thriller &amp; Adventure </td>
 </tr>
 <tr class="odd">
 <td class="left" id="table-cell-10943-15-0" style="color: #000000"> 16 </td>
 <td class="left" id="table-cell-10943-15-1" style="color: #000000"> New Moon </td>
 <td class="left" id="table-cell-10943-15-2" style="color: #000000"> Meyer, Stephenie </td>
 <td class="left" id="table-cell-10943-15-3" style="color: #000000"> 2,152,737 </td>
 <td class="left" id="table-cell-10943-15-4" style="color: #000000"> Little, Brown Book </td>
 <td class="last left" id="table-cell-10943-15-5" style="color: #000000"> Young Adult Fiction </td>
 </tr>
 <tr>
 <td class="left" id="table-cell-10943-16-0" style="color: #000000"> 17 </td>
 <td class="left" id="table-cell-10943-16-1" style="color: #000000"> Deception Point </td>
 <td class="left" id="table-cell-10943-16-2" style="color: #000000"> Brown, Dan </td>
 <td class="left" id="table-cell-10943-16-3" style="color: #000000"> 2,062,145 </td>
 <td class="left" id="table-cell-10943-16-4" style="color: #000000"> Transworld </td>
 <td class="last left" id="table-cell-10943-16-5" style="color: #000000"> Crime, Thriller &amp; Adventure </td>
 </tr>
 <tr class="odd">
 <td class="left" id="table-cell-10943-17-0" style="color: #000000"> 18 </td>
 <td class="left" id="table-cell-10943-17-1" style="color: #000000"> Eclipse </td>
 <td class="left" id="table-cell-10943-17-2" style="color: #000000"> Meyer, Stephenie </td>
 <td class="left" id="table-cell-10943-17-3" style="color: #000000"> 2,052,876 </td>
 <td class="left" id="table-cell-10943-17-4" style="color: #000000"> Little, Brown Book </td>
 <td class="last left" id="table-cell-10943-17-5" style="color: #000000"> Young Adult Fiction </td>
 </tr>
 <tr>
 <td class="left" id="table-cell-10943-18-0" style="color: #000000"> 19 </td>
 <td class="left" id="table-cell-10943-18-1" style="color: #000000"> Lovely Bones,The </td>
 <td class="left" id="table-cell-10943-18-2" style="color: #000000"> Sebold, Alice </td>
 <td class="left" id="table-cell-10943-18-3" style="color: #000000"> 2,005,598 </td>
 <td class="left" id="table-cell-10943-18-4" style="color: #000000"> Pan Macmillan </td>
 <td class="last left" id="table-cell-10943-18-5" style="color: #000000"> General &amp; Literary Fiction </td>
 </tr>
 <tr class="odd">
 <td class="left" id="table-cell-10943-19-0" style="color: #000000"> 20 </td>
 <td class="left" id="table-cell-10943-19-1" style="color: #000000"> Curious Incident of the Dog in the Night-time,The </td>
 <td class="left" id="table-cell-10943-19-2" style="color: #000000"> Haddon, Mark </td>
 <td class="left" id="table-cell-10943-19-3" style="color: #000000"> 1,979,552 </td>
 <td class="left" id="table-cell-10943-19-4" style="color: #000000"> Random House </td>
 <td class="last left" id="table-cell-10943-19-5" style="color: #000000"> General &amp; Literary Fiction </td>
 </tr>
 <tr>
 <td class="left" id="table-cell-10943-20-0" style="color: #000000"> 21 </td>
 <td class="left" id="table-cell-10943-20-1" style="color: #000000"> Digital Fortress </td>
 <td class="left" id="table-cell-10943-20-2" style="color: #000000"> Brown, Dan </td>
 <td class="left" id="table-cell-10943-20-3" style="color: #000000"> 1,928,900 </td>
 <td class="left" id="table-cell-10943-20-4" style="color: #000000"> Transworld </td>
 <td class="last left" id="table-cell-10943-20-5" style="color: #000000"> Crime, Thriller &amp; Adventure </td>
 </tr>
 <tr class="odd">
 <td class="left" id="table-cell-10943-21-0" style="color: #000000"> 22 </td>
 <td class="left" id="table-cell-10943-21-1" style="color: #000000"> Short History of Nearly Everything,A </td>
 <td class="left" id="table-cell-10943-21-2" style="color: #000000"> Bryson, Bill </td>
 <td class="left" id="table-cell-10943-21-3" style="color: #000000"> 1,852,919 </td>
 <td class="left" id="table-cell-10943-21-4" style="color: #000000"> Transworld </td>
 <td class="last left" id="table-cell-10943-21-5" style="color: #000000"> Popular Science </td>
 </tr>
 <tr>
 <td class="left" id="table-cell-10943-22-0" style="color: #000000"> 23 </td>
 <td class="left" id="table-cell-10943-22-1" style="color: #000000"> Girl Who Played with Fire,The:Millennium Trilogy </td>
 <td class="left" id="table-cell-10943-22-2" style="color: #000000"> Larsson, Stieg </td>
 <td class="left" id="table-cell-10943-22-3" style="color: #000000"> 1,814,784 </td>
 <td class="left" id="table-cell-10943-22-4" style="color: #000000"> Quercus </td>
 <td class="last left" id="table-cell-10943-22-5" style="color: #000000"> Crime, Thriller &amp; Adventure </td>
 </tr>
 <tr class="odd">
 <td class="left" id="table-cell-10943-23-0" style="color: #000000"> 24 </td>
 <td class="left" id="table-cell-10943-23-1" style="color: #000000"> Breaking Dawn </td>
 <td class="left" id="table-cell-10943-23-2" style="color: #000000"> Meyer, Stephenie </td>
 <td class="left" id="table-cell-10943-23-3" style="color: #000000"> 1,787,118 </td>
 <td class="left" id="table-cell-10943-23-4" style="color: #000000"> Little, Brown Book </td>
 <td class="last left" id="table-cell-10943-23-5" style="color: #000000"> Young Adult Fiction </td>
 </tr>
 <tr>
 <td class="left" id="table-cell-10943-24-0" style="color: #000000"> 25 </td>
 <td class="left" id="table-cell-10943-24-1" style="color: #000000"> Very Hungry Caterpillar,The:The Very Hungry Caterpillar </td>
 <td class="left" id="table-cell-10943-24-2" style="color: #000000"> Carle, Eric </td>
 <td class="left" id="table-cell-10943-24-3" style="color: #000000"> 1,783,535 </td>
 <td class="left" id="table-cell-10943-24-4" style="color: #000000"> Penguin </td>
 <td class="last left" id="table-cell-10943-24-5" style="color: #000000"> Picture Books </td>
 </tr>
 <tr class="odd">
 <td class="left" id="table-cell-10943-25-0" style="color: #000000"> 26 </td>
 <td class="left" id="table-cell-10943-25-1" style="color: #000000"> Gruffalo,The </td>
 <td class="left" id="table-cell-10943-25-2" style="color: #000000"> Donaldson, Julia </td>
 <td class="left" id="table-cell-10943-25-3" style="color: #000000"> 1,781,269 </td>
 <td class="left" id="table-cell-10943-25-4" style="color: #000000"> Pan Macmillan </td>
 <td class="last left" id="table-cell-10943-25-5" style="color: #000000"> Picture Books </td>
 </tr>
 <tr>
 <td class="left" id="table-cell-10943-26-0" style="color: #000000"> 27 </td>
 <td class="left" id="table-cell-10943-26-1" style="color: #000000"> Jamie's 30-Minute Meals </td>
 <td class="left" id="table-cell-10943-26-2" style="color: #000000"> Oliver, Jamie </td>
 <td class="left" id="table-cell-10943-26-3" style="color: #000000"> 1,743,266 </td>
 <td class="left" id="table-cell-10943-26-4" style="color: #000000"> Penguin </td>
 <td class="last left" id="table-cell-10943-26-5" style="color: #000000"> Food &amp; Drink: General </td>
 </tr>
 <tr class="odd">
 <td class="left" id="table-cell-10943-27-0" style="color: #000000"> 28 </td>
 <td class="left" id="table-cell-10943-27-1" style="color: #000000"> Kite Runner,The </td>
 <td class="left" id="table-cell-10943-27-2" style="color: #000000"> Hosseini, Khaled </td>
 <td class="left" id="table-cell-10943-27-3" style="color: #000000"> 1,629,119 </td>
 <td class="left" id="table-cell-10943-27-4" style="color: #000000"> Bloomsbury </td>
 <td class="last left" id="table-cell-10943-27-5" style="color: #000000"> General &amp; Literary Fiction </td>
 </tr>
 <tr>
 <td class="left" id="table-cell-10943-28-0" style="color: #000000"> 29 </td>
 <td class="left" id="table-cell-10943-28-1" style="color: #000000"> One Day </td>
 <td class="left" id="table-cell-10943-28-2" style="color: #000000"> Nicholls, David </td>
 <td class="left" id="table-cell-10943-28-3" style="color: #000000"> 1,616,068 </td>
 <td class="left" id="table-cell-10943-28-4" style="color: #000000"> Hodder &amp; Stoughton </td>
 <td class="last left" id="table-cell-10943-28-5" style="color: #000000"> General &amp; Literary Fiction </td>
 </tr>
 <tr class="odd">
 <td class="left" id="table-cell-10943-29-0" style="color: #000000"> 30 </td>
 <td class="left" id="table-cell-10943-29-1" style="color: #000000"> Thousand Splendid Suns,A </td>
 <td class="left" id="table-cell-10943-29-2" style="color: #000000"> Hosseini, Khaled </td>
 <td class="left" id="table-cell-10943-29-3" style="color: #000000"> 1,583,992 </td>
 <td class="left" id="table-cell-10943-29-4" style="color: #000000"> Bloomsbury </td>
 <td class="last left" id="table-cell-10943-29-5" style="color: #000000"> General &amp; Literary Fiction </td>
 </tr>
 <tr>
 <td class="left" id="table-cell-10943-30-0" style="color: #000000"> 31 </td>
 <td class="left" id="table-cell-10943-30-1" style="color: #000000"> Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy </td>
 <td class="left" id="table-cell-10943-30-2" style="color: #000000"> Larsson, Stieg </td>
 <td class="left" id="table-cell-10943-30-3" style="color: #000000"> 1,555,135 </td>
 <td class="left" id="table-cell-10943-30-4" style="color: #000000"> Quercus </td>
 <td class="last left" id="table-cell-10943-30-5" style="color: #000000"> Crime, Thriller &amp; Adventure </td>
 </tr>
 <tr class="odd">
 <td class="left" id="table-cell-10943-31-0" style="color: #000000"> 32 </td>
 <td class="left" id="table-cell-10943-31-1" style="color: #000000"> Time Traveler's Wife,The </td>
 <td class="left" id="table-cell-10943-31-2" style="color: #000000"> Niffenegger, Audrey </td>
 <td class="left" id="table-cell-10943-31-3" style="color: #000000"> 1,546,886 </td>
 <td class="left" id="table-cell-10943-31-4" style="color: #000000"> Random House </td>
 <td class="last left" id="table-cell-10943-31-5" style="color: #000000"> General &amp; Literary Fiction </td>
 </tr>
 <tr>
 <td class="left" id="table-cell-10943-32-0" style="color: #000000"> 33 </td>
 <td class="left" id="table-cell-10943-32-1" style="color: #000000"> Atonement </td>
 <td class="left" id="table-cell-10943-32-2" style="color: #000000"> McEwan, Ian </td>
 <td class="left" id="table-cell-10943-32-3" style="color: #000000"> 1,539,428 </td>
 <td class="left" id="table-cell-10943-32-4" style="color: #000000"> Random House </td>
 <td class="last left" id="table-cell-10943-32-5" style="color: #000000"> General &amp; Literary Fiction </td>
 </tr>
 <tr class="odd">
 <td class="left" id="table-cell-10943-33-0" style="color: #000000"> 34 </td>
 <td class="left" id="table-cell-10943-33-1" style="color: #000000"> Bridget Jones's Diary:A Novel </td>

To print out table rows only, pass the 'tr' argument in soup.find_all().

In [124]:
rows = soup.find_all('tr')
print(rows[:10])

[<tr>
<th class="left bold" id="table-cell-10943--1-0" scope="col" style="color: #000000">
<div>
Rank
</div> </th>
<th class="left bold" id="table-cell-10943--1-1" scope="col" style="color: #000000">
<div>
Title
</div> </th>
<th class="left bold" id="table-cell-10943--1-2" scope="col" style="color: #000000">
<div>
Author
</div> </th>
<th class="left bold" id="table-cell-10943--1-3" scope="col" style="color: #000000">
<div>
Volume Sales
</div> </th>
<th class="left bold" id="table-cell-10943--1-4" scope="col" style="color: #000000">
<div>
Publisher
</div> </th>
<th class="last left bold" id="table-cell-10943--1-5" scope="col" style="color: #000000">
<div>
Genre
</div> </th>
</tr>, <tr>
<td colspan="6">
<div class="footer">
<div class="notes">
<p>SOURCE: <a href="//www.nielsenbookscan.co.uk/controller.php?page=48">NIELSEN BOOK SCAN</a></p>
</div>
</div> </td>
</tr>, <tr>
<td class="left" id="table-cell-10943-0-0" style="color: #000000"> 1 </td>
<td class="left" id="table-cell-10943-0-1" style="color: #000000"> Da Vinci Code,The </td>
<td class="left" id="table-cell-10943-0-2" style="color: #000000"> Brown, Dan </td>
<td class="left" id="table-cell-10943-0-3" style="color: #000000"> 5,094,805 </td>
<td class="left" id="table-cell-10943-0-4" style="color: #000000"> Transworld </td>
<td class="last left" id="table-cell-10943-0-5" style="color: #000000"> Crime, Thriller &amp; Adventure </td>
</tr>, <tr class="odd">
<td class="left" id="table-cell-10943-1-0" style="color: #000000"> 2 </td>
<td class="left" id="table-cell-10943-1-1" style="color: #000000"> Harry Potter and the Deathly Hallows </td>
<td class="left" id="table-cell-10943-1-2" style="color: #000000"> Rowling, J.K. </td>
<td class="left" id="table-cell-10943-1-3" style="color: #000000"> 4,475,152 </td>
<td class="left" id="table-cell-10943-1-4" style="color: #000000"> Bloomsbury </td>
<td class="last left" id="table-cell-10943-1-5" style="color: #000000"> Children's Fiction </td>
</tr>, <tr>
<td class="left" id="table-cell-10943-2-0" style="color: #000000"> 3 </td>
<td class="left" id="table-cell-10943-2-1" style="color: #000000"> Harry Potter and the Philosopher's Stone </td>
<td class="left" id="table-cell-10943-2-2" style="color: #000000"> Rowling, J.K. </td>
<td class="left" id="table-cell-10943-2-3" style="color: #000000"> 4,200,654 </td>
<td class="left" id="table-cell-10943-2-4" style="color: #000000"> Bloomsbury </td>
<td class="last left" id="table-cell-10943-2-5" style="color: #000000"> Children's Fiction </td>
</tr>, <tr class="odd">
<td class="left" id="table-cell-10943-3-0" style="color: #000000"> 4 </td>
<td class="left" id="table-cell-10943-3-1" style="color: #000000"> Harry Potter and the Order of the Phoenix </td>
<td class="left" id="table-cell-10943-3-2" style="color: #000000"> Rowling, J.K. </td>
<td class="left" id="table-cell-10943-3-3" style="color: #000000"> 4,179,479 </td>
<td class="left" id="table-cell-10943-3-4" style="color: #000000"> Bloomsbury </td>
<td class="last left" id="table-cell-10943-3-5" style="color: #000000"> Children's Fiction </td>
</tr>, <tr>
<td class="left" id="table-cell-10943-4-0" style="color: #000000"> 5 </td>
<td class="left" id="table-cell-10943-4-1" style="color: #000000"> Fifty Shades of Grey </td>
<td class="left" id="table-cell-10943-4-2" style="color: #000000"> James, E. L. </td>
<td class="left" id="table-cell-10943-4-3" style="color: #000000"> 3,758,936 </td>
<td class="left" id="table-cell-10943-4-4" style="color: #000000"> Random House </td>
<td class="last left" id="table-cell-10943-4-5" style="color: #000000"> Romance &amp; Sagas </td>
</tr>, <tr class="odd">
<td class="left" id="table-cell-10943-5-0" style="color: #000000"> 6 </td>
<td class="left" id="table-cell-10943-5-1" style="color: #000000"> Harry Potter and the Goblet of Fire </td>
<td class="left" id="table-cell-10943-5-2" style="color: #000000"> Rowling, J.K. </td>
<td class="left" id="table-cell-10943-5-3" style="color: #000000"> 3,583,215 </td>
<td class="left" id="table-cell-10943-5-4" style="color: #000000"> Bloomsbury </td>
<td class="last left" id="table-cell-10943-5-5" style="color: #000000"> Children's Fiction </td>
</tr>, <tr>
<td class="left" id="table-cell-10943-6-0" style="color: #000000"> 7 </td>
<td class="left" id="table-cell-10943-6-1" style="color: #000000"> Harry Potter and the Chamber of Secrets </td>
<td class="left" id="table-cell-10943-6-2" style="color: #000000"> Rowling, J.K. </td>
<td class="left" id="table-cell-10943-6-3" style="color: #000000"> 3,484,047 </td>
<td class="left" id="table-cell-10943-6-4" style="color: #000000"> Bloomsbury </td>
<td class="last left" id="table-cell-10943-6-5" style="color: #000000"> Children's Fiction </td>
</tr>, <tr class="odd">
<td class="left" id="table-cell-10943-7-0" style="color: #000000"> 8 </td>
<td class="left" id="table-cell-10943-7-1" style="color: #000000"> Harry Potter and the Prisoner of Azkaban </td>
<td class="left" id="table-cell-10943-7-2" style="color: #000000"> Rowling, J.K. </td>
<td class="left" id="table-cell-10943-7-3" style="color: #000000"> 3,377,906 </td>
<td class="left" id="table-cell-10943-7-4" style="color: #000000"> Bloomsbury </td>
<td class="last left" id="table-cell-10943-7-5" style="color: #000000"> Children's Fiction </td>
</tr>]

a for loop that iterates through table rows and prints out the cells of the rows.

In [125]:
for row in rows:
    row_td = row.find_all('td')
print(row_td)
type(row_td)

[<td class="left" id="table-cell-10943-99-0" style="color: #000000"> 100 </td>, <td class="left" id="table-cell-10943-99-1" style="color: #000000"> Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours </td>, <td class="left" id="table-cell-10943-99-2" style="color: #000000"> Oliver, Jamie </td>, <td class="left" id="table-cell-10943-99-3" style="color: #000000"> 791,095 </td>, <td class="left" id="table-cell-10943-99-4" style="color: #000000"> Penguin </td>, <td class="last left" id="table-cell-10943-99-5" style="color: #000000"> Food &amp; Drink: General </td>]

bs4.element.ResultSet

The output above shows that each row is printed with html tags embedded in each row. This is not what you want. You can use remove the html tags using Beautiful Soup or regular expressions.<br>
The easiest way to remove html tags is to use Beautiful Soup, and it takes just one line of code to do this. Pass the string of interest into BeautifulSoup() and use the get_text() method to extract the text without html tags.

In [126]:
str_cells = str(row_td)
cleantext = BeautifulSoup(str_cells, "lxml").get_text()
print(cleantext)

[ 100 ,  Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours ,  Oliver, Jamie ,  791,095 ,  Penguin ,  Food & Drink: General ]

Complete for loop

In [127]:
list_rows = []
for row in rows:
    cells = row.find_all('td')
    cells = [str(cell) for cell in cells]
    cleantext = BeautifulSoup(str(cells), "lxml").get_text()
    cleantext = cleantext.split("', '")
    list_rows.append(cleantext)
list_rows = list_rows[2:]
print(cleantext)
type(list_rows)

["[' 100 ", " Jamie\\'s Ministry of Food:Anyone Can Learn to Cook in 24 Hours ", ' Oliver, Jamie ', ' 791,095 ', ' Penguin ', " Food & Drink: General ']"]

list

In [128]:
col_labels = soup.find_all('th')
all_header = []
col_str = str(col_labels)
cleantext2 = BeautifulSoup(col_str, "lxml").get_text()[1:-1].split(",")
cleantext2 = [c.strip() for c in cleantext2]
all_header.append(cleantext2)
print(cleantext2)

['Rank', 'Title', 'Author', 'Volume Sales', 'Publisher', 'Genre']

The next step is to convert the list into a dataframe and get a quick view of the first 10 rows using Pandas.

In [129]:
df = pd.DataFrame(list_rows, columns = cleantext2)
df.head(10)

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,[' 1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure ']"
1,[' 2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children\'s Fiction ']
2,[' 3,Harry Potter and the Philosopher\'s Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children\'s Fiction ']
3,[' 4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children\'s Fiction ']
4,[' 5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas ']
5,[' 6,Harry Potter and the Goblet of Fire,"Rowling, J.K.","3,583,215",Bloomsbury,Children\'s Fiction ']
6,[' 7,Harry Potter and the Chamber of Secrets,"Rowling, J.K.","3,484,047",Bloomsbury,Children\'s Fiction ']
7,[' 8,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.","3,377,906",Bloomsbury,Children\'s Fiction ']
8,[' 9,Angels and Demons,"Brown, Dan","3,193,946",Transworld,"Crime, Thriller & Adventure ']"
9,[' 10,Harry Potter and the Half-blood Prince:Childr...,"Rowling, J.K.","2,950,264",Bloomsbury,Children\'s Fiction ']

In [130]:
df["Rank"] = df["Rank"].str.strip("[' ")
df["Genre"] = df["Genre"].str.strip(" ']")
df.head(10)

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children\'s Fiction
2,3,Harry Potter and the Philosopher\'s Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children\'s Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children\'s Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
5,6,Harry Potter and the Goblet of Fire,"Rowling, J.K.","3,583,215",Bloomsbury,Children\'s Fiction
6,7,Harry Potter and the Chamber of Secrets,"Rowling, J.K.","3,484,047",Bloomsbury,Children\'s Fiction
7,8,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.","3,377,906",Bloomsbury,Children\'s Fiction
8,9,Angels and Demons,"Brown, Dan","3,193,946",Transworld,"Crime, Thriller & Adventure"
9,10,Harry Potter and the Half-blood Prince:Childr...,"Rowling, J.K.","2,950,264",Bloomsbury,Children\'s Fiction

In [131]:
df.set_index("Rank", drop=True, inplace=True)
df.head()

,Title,Author,Volume Sales,Publisher,Genre
Rank,,,,,
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children\'s Fiction
3,Harry Potter and the Philosopher\'s Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children\'s Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children\'s Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas